h2 {
    margin-top: 2.5rem;
    /*font-weight: bold;*/
}

h3 {
    margin-top: 2.5rem;
}

h4 {
    margin-top: 2.0rem;
}

li {
    line-height: 1.5;
}

.palette-color {
    width: 120px;
    height: 15px;
    border: solid 1px #ccc;
}
